ul,
li {
  list-style-type: none;
  font-family: Consolas, 'Courier New', monospace;
  margin: 0 0 0 18px;
  padding: 0;
  border: none;
  font-size: 14px;
}

li > button {
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  margin: 0;
}

.number {
  color: #1A01CC;
}

.text {
  color: #0B7552;
}

.null {
  color: lightgray;
}


.toggle-button{
  margin-left: -24px;
  position: absolute;
}